{% extends "enhydris/base/main_with_map.html" %}
{% load static %}

{% block basecss %}
  {{ block.super }}
  <link href="{% static 'css/enhydris-openhigis.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body_onload %}
{% endblock %}

{% block header %}
  {% include "enhydris_openhigis/base/navbar.html" %}
  {% include "enhydris/base/searchtips.html" %}
  {% include "enhydris/base/messages.html" %}
{% endblock %}

{% block leaflet_plugins %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vendor/TileLayer.Grayscale.js' %}"></script>
{% endblock %}

{% block map_js %}
  <script type="text/javascript">
    enhydris.mapBaseLayers = {
      "Open Street Map": L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution: (
            'Map data © <a href="https://www.openstreetmap.org/">' +
            'OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
          ),
          maxZoom: 18,
        }
      ),
      "Open Cycle Map": L.tileLayer(
        "https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey=6ee1510f01024952802dd06a65660b00",
        {
          attribution: (
            'Map data © <a href="https://www.openstreetmap.org/">' +
            'OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
          ),
          maxZoom: 18,
        }
      ),
      "Open Street Map Grayscale": L.tileLayer.grayscale(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution: (
            'Map data © <a href="https://www.openstreetmap.org/">' +
            'OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
          ),
          maxZoom: 18,
        }
      ),
      "Εθνικό Κτηματολόγιο": L.tileLayer.wms(
        "http://gis.ktimanet.gr/wms/wmsopen/wmsserver.aspx",
        {
          layers: "KTBASEMAP",
          format: "image/png",
          attribution: (
            "Χαρτογραφικά δεδομένα © Εθνικό Κτηματολόγιο & Χαρτογράφηση Α.Ε."
          ),
        },
      ),
      "Χωρίς υπόβαθρο": L.tileLayer(""),
    };
    enhydris.mapDefaultBaseLayer = "Open Street Map Grayscale";
    enhydris.mapViewport = {{ map_viewport|safe }};
    enhydris.searchString = {{ searchString|safe }};
    enhydris.openhigis = {
        base_url: "{{ base_url }}",
        ows_url: "{{ ows_url }}",
    };
  </script>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/vendor/betterwms.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/enhydris-openhigis-map.js' %}"></script>
{% endblock %}
