.form-geosearch-wrapper {
  pointer-events: auto;
  position: relative;
  z-index: 990;
  width: 260px;
  margin-top: -80px;
  margin-right: 10px;
  margin-left: auto;
}

#geosearch_input {
  padding-left: 40px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.form-geosearch::before {
  position: absolute;
  top: 50%;
  left: 18px;
  content: "";
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
}

#mapid.leaflet-grab:not(.leaflet-drag-target) {
  cursor: default; /* Cursor is used both for grabbing and selecting */
}
